<div class="container card" style="width: 60rem; margin-top: 40px">
  <h3>Product List</h3>
  <table class="table">
    <thead class="thead-dark">
    <tr>
      <th scope="col"><a (click)="order('productId')">#<i class="arrow-alt-up"></i></a></th>
      <th scope="col"><a (click)="order('name')">Name<i class="arrow-alt-up"></i></a></th>
      <th scope="col"><a (click)="order('description')">Description<i class="arrow-alt-up"></i></a></th>
    </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of productList" app-list-item [product] = product></tr>

    </tbody>
  </table>
  <app-paginator (pageEvent)='changePage($event)'></app-paginator>
</div>
